<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привязать вагон</title>
    {{> header}}
</head>
<body>
<div class="div">
    <div class="form">
        <form id="sheduleForm" action="http://r-ticket.chav:6608/car/bind" method="POST">
            <label>Выберите дату:
                <input type="date" name="date" value={{date}}>
            </label>
            <input type="submit">
        </form>

        <form action="http://r-ticket.chav:6608/car/bind/new" method="POST">
            <div>
                <label>Маршрут в расписании
                    <select size="1" name="sheduleRoutesId" style="width: auto">
                        <option disabled selected>Выберите маршрут</option>
                        {{#sheduleRoutes as |sheduleRoute|}}
                            <option value="{{sheduleRoute.Id}}">
                                {{sheduleRoute.Number}}
                                <br>
                                {{sheduleRoute.DepStation}} - {{sheduleRoute.ArrStation}}
                                <br>
                                {{sheduleRoute.DepartureStation}} {{{time sheduleRoute.DepartureTime}}}
                                <br>
                                {{sheduleRoute.ArrivalStation}} {{{time sheduleRoute.ArrivalTime}}}
                            </option>
                        {{/sheduleRoutes}}
                    </select>
                </label>
                <label>Вагон
                    <select size="1" name="carId" style="width: auto">
                        <option disabled selected>Выберите вагон</option>
                        {{#cars as |car|}}
                            <option value="{{car.Id}}">{{car.SerialNumber}} {{car.PlaceType}}</option>
                        {{/cars}}
                    </select>
                </label>
                <label>Тип услуг
                    <select size="1" name="carTypeId" style="width: auto">
                        <option disabled selected>Выберите вагон</option>
                        {{#carTypes as |carType|}}
                            <option value="{{carType.Id}}">{{carType.Code}} {{carType.PlaceType}}</option>
                        {{/carTypes}}
                    </select>
                </label>
                <label>Порядковый номер
                    <input type="text" name="number">
                </label>
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="carShedule">
        <table>
            {{#carShedules as |carShedule|}}
                <tr>
                    <td>{{carShedule.OrderNumber}} - {{carShedule.SerialNumber}}</td>
                    <td>{{carShedule.PlaceType}} {{carShedule.CarType}}</td>
                    <td>{{carShedule.Number}}: {{carShedule.DepartureStation}} - {{carShedule.ArrivalStation}}</td>
                    <td>{{carShedule.Type}}</td>
                    <td>{{carShedule.DepStation}} {{carShedule.DepartureTime}}</td>
                    <td>{{carShedule.ArrStation}} {{carShedule.ArrivalTime}}</td>
                </tr>
            {{/carShedules}}
        </table>
    </div>
</div>
</body>
</html>