<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дни курсирования</title>
    {{> header}}
</head>
<body>
<div class="div">
    <div class="cruising">
        <h1>Дни курсирования</h1>
        <table>
            {{#cruising as |cruis|}}
                <tr>
                    <td>{{cruis.Number}}</td>
                    <td>{{cruis.DepartureStation}} - {{cruis.ArrivalStation}}
                        <br>
                        <span>{{cruis.Type}}</span>
                    </td>
                    <td>
                        {{{weekDayHelper a cruisId=cruis.Id}}} {{{isDaily cruis.IsDaily}}} {{{isEven cruis.IsEven}}}</td>
                </tr>
            {{/cruising}}
        </table>
    </div>
    <div class="link">
        <a href="http://r-ticket.chav:6608/cruising/create">Изменить дни курсирования</a>
    </div>
</div>
</body>
</html>