<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
    <script type="text/javascript" src="../jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="../scripts/userCreate.js" ></script>
    <script type="text/javascript" src="../jquery.maskedinput.min.js"></script>
    {{> header}}
</head>
<body>
<div class="div">
    <div class="form">
        <form action="http://r-ticket.chav:6608/user/create" method="POST">
            <label>Имя
                <input required type="text" name="fname" size="50">
            </label>
            <br>
            <label>Фамилия
                <input required type="text" name="sname" size="50">
            </label>
            <br>
            <label>Отчество (если есть)
                <input type="text" name="mname" size="50">
            </label>
            <br>
            <label>Имя на английском (из паспорта)
                <input required type="text" name="fname_en" size="50">
            </label>
            <br>
            <label>Фамилия на английском (из паспорта)
                <input required type="text" name="sname_en" size="50">
            </label>
            <br>
            <label>День рождения
                <input required type="date" name="birthday" size="50">
            </label>
            <br>
            <label>Паспорт
                <input required type="text" name="passport" size="50">
            </label>
            <br>
            <label>Телефон
                <input type="text" name="telephone" id="telephone">
            </label>
            <br>
            <label>E-mail
                <input required name="email" type="email">
            </label>
            <br>
            <label>Пароль
                <input required name="password" type="password">
            </label>
            <br>
            <label>Логин
                <input required type="text" name="login" size="50">
            </label>
            <br>
            <label>Страна
                <select required size="1" name="countryId">
                    {{#countrys as |country|}}
                        <option value="{{country.Id}}">{{country.Name}}</option>
                    {{/countrys}}
                </select>
            </label>
            <br>
            <label>Роль
                <select required size="1" name="roleId">
                    {{#roles as |role|}}
                        <option value="{{role.Id}}">{{role.Name}}</option>
                    {{/roles}}
                </select>
            </label>
            <br>
            <label>Пол
                <input required type="radio" value="0" id="woman" name="sex">
                <label for="woman">Ж</label>
                <input type="radio" value="1" id="man" name="sex">
                <label for="man">М</label>
            </label>
            <br>
            <input type="submit">
            <input type="reset">
        </form>
    </div>
    <div>
        <h4>Пользователи</h4>
        <table>
            {{#users as |user|}}
                <tr>
                    <td>{{user.FName}} {{user.SName}}</td>
                </tr>
            {{/users}}
        </table>
    </div>
    <div class="link">
        <a href="http://r-ticket.chav:6608/user">Вернуться к списку пользователей</a>
    </div>
</div>
</body>
</html>