<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привязать маршрут</title>
    {{> header}}
</head>
<body>
<div class="div">
    <div class="form">
        <form action="http://r-ticket.chav:6608/routes/bind" method="POST">
            <div>
                <label>Маршрут
                    <select size="1" name="routesStationId" style="width: auto">
                        <option disabled selected>Выберите маршрут</option>
                        {{#routesStations as |routesStation|}}
                            <option value="{{routesStation.Id}}">{{routesStation.DepartureStation}} - {{routesStation.ArrivalStation}}</option>
                        {{/routesStations}}
                    </select>
                </label>
                <label>Поезд
                    <select size="1" name="trainId" style="width: auto">
                        <option disabled selected>Выберите поезд</option>
                        {{#trains as |train|}}
                            <option value="{{train.Id}}">{{train.Number}}: {{train.DepartureStation}} - {{train.ArrivalStation}}</option>
                        {{/trains}}
                    </select>
                </label>
            </div>
            <div>
                <label>Время отправления
                    <input type="time" name="depTime" size="50">
                </label>

                <label>Время прибытия
                    <input type="time" name="arrTime" size="50">
                </label>
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="routes">
        <table>
            {{#routes as |route|}}
                <tr>
                    <td>{{route.Number}}</td>
                    <td>{{route.DepStation}} -- {{route.ArrStation}}</td>
                    <td>{{route.DepartureStation}}<br>{{{time route.DepartureTime}}}</td>
                    <td>{{route.ArrivalStation}}<br>{{{time route.ArrivalTime}}}</td>
                </tr>
            {{/routes}}
        </table>
    </div>
</div>
</body>
</html>