<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маршруты</title>
    {{> header}}
</head>
<body>
<div class="div">

    <div>
        <h1>Маршруты</h1>
        <table>
            {{#routes as |route|}}
                <tr>
                    <td>{{route.Number}}</td>
                    <td style="width: 150px">{{route.DepStation}} -- {{route.ArrStation}}</td>
                    <td>{{route.DepartureStation}}<br>{{{time route.DepartureTime}}}</td>
                    <td>{{route.ArrivalStation}}<br>{{{time route.ArrivalTime}}}</td>
                </tr>
            {{/routes}}
        </table>
    </div>

    <div class="link">
        <a href="http://r-ticket.chav:6608/routes/create">Новый маршрут</a>
        <br>
        <a href="http://r-ticket.chav:6608/routes/bind">Привязать маршрут к поезду</a>
    </div>

</div>
</body>
</html>